<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="TECLA1" value="CONTROL" />
		<add key="TECLA2" value="ALT" />
		<add key="PLAY" value="End" />
		<add key="AVANCAR" value="Left" />
		<add key="VOLTAR" value="Right" />
		<add key="UP" value="Up" />
		<add key="DOWN" value="Down" />
	</appSettings>

</configuration>